@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 10;
    padding-right: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151515;
    --clr: #c0c0c0;
    --clr2: #835326;
    --shadow: #b57b46;
    overflow: hidden;
}